
/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 93px;
  }

  .header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height:100%;
    text-align: left;
  }
    
  .header__links-list-item-active {
    list-style: none;
  }
  .header__links-list-item-active a {
    text-decoration: none;
  }
  
  .header__logo {
    display: block;
    width: 135px;
  }

  .header__contacts {
    padding-right: 37.5px;
    padding-bottom: 4px;
    justify-self: end;
  }

  .contacts {
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 24.3px;
    font-style: normal;
  }
  
  .contacts a {
    font-style: normal;
    text-decoration: underline;
    line-height: 24px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  /* Cover */
  .cover {
    position: relative;
    min-height: 757px;
    color: #fff;
    background: url('../images/cover.jpg') center/cover no-repeat;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  
  .cover__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    opacity: 1;
    color: #fff;
  }
  
  .aligned-text_left {
    display: block;
    text-align: left;
    padding-top: 165px;
    padding-left: 50px;    
  }
  
  .aligned-text_center {
    display: block;
    text-align: center;
    padding-right: 380.5px;
    padding-left: 380.5px;
    padding-top: 16px;
  }

  .aligned-text_right {
    display: block;
    padding-right: 20px;
    padding-top: 20px;  
    text-align: right;
  }
  
  .cover__discription {
    display: flex;
    align-items: baseline;
    gap: 107px;
    margin-top: 106px;
    margin-left: 50px;
    z-index: 2;
  }
  
  .cover__description-text {
    position: relative;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
  }
  
  .bet__button {
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding: 12px 32px 11px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
  /* Lots */
  .lots {
    padding: 179px 24px 155px;
  }
  
  .lots__heading {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
  }
  
  .lots__card-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 30px;
  }
  
  .lots__card-list-item {
    min-height: 596px;
  }
  
  .card-link {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    height: 100%;
    padding: 51px 40px 48px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .card__title {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 48px 40px auto;
  }
  
  .card__text {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: auto;
  }
  
  .card_type_movie {
    background: url('../images/card-lot-01.jpg') center/cover no-repeat;
  }
  
  .card_type_book {
    background: url('../images/card-lot-02.jpg') center/cover no-repeat;
  }
  
  .card_type_picture {
    background: url('../images/card-lot-03.jpg') center/cover no-repeat;
  }
  
  .lots__look-more-link {
    display: block;
    margin-top: 32px;
    padding-left: 40px;
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
  /* About */
  .about {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 72px;
    margin-left: 71px;
  }
  
  .about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    display: grid;
    place-items: center;
  }
  
  .about__logo img {
    width: 148px;
  }
  
  .about__content {
    padding-top: 100px;
  }
  
  .about__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    padding-bottom:100px;
  }
  
  .about__text {
    display: grid;
    gap: 24px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 180px;
    padding-right: 30px;
  }
  /* Footer */
  .footer {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 0 50px 90px;
  }
  
  .footer__menu-list {
    list-style: none;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
  
  .footer__menu-list-item a {
    text-decoration: underline;
  }
  
  .footer__menu-link_active a {
    text-decoration: none;

  }
  
  .footer__social-list {
    justify-self: end;
    list-style: none;
    display: flex;
    gap: 48px;
  }
  
  .footer__social-list img {
    width: 48px;
    height: 48px;
  }
  