
.visibility-hidden {
  display: none;
}

.header {
  padding: 92px 24px 93px 24px;
  display: grid;
  grid-template-columns: 452px 335px 1fr;
  align-items: center;
}

.nav-list {
  padding-left: 26.52px;
  display: flex;
  gap: 31px;
  list-style: none;
}

.nav-item::last-child {
  margin-right: 5px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
}

.active {
  text-transform: lowercase;
}

.line {
  text-decoration: underline;
}

.circle {
  list-style: circle;
}


.logo {
  width: 148px;
  height: 105px;
}

.header-address-block {
  width: 241px;
}


.header-address-block-list {
  list-style: none;
}

.header-address-block-link {
  font-size: 18px;
  line-height: 24.3px;
  text-decoration: none;
}

address {
  font-size: 18px;
  line-height: 24.3px;
}


.main {
  margin-bottom: 180px;
}


/*banner*/

.main-banner {
  position: relative;
  padding: 167px 50px 52px 50px;
  margin-bottom: 179px;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: 2;

}

.main-banner-block {
  display: grid;
  gap: 20px;
  position: relative;
  z-index: 3;
  margin-bottom: 135px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-banner-title {
 line-height: 115px;
 letter-spacing: 30px;
 text-align: start;
}

.main-banner-title-one {
 letter-spacing: 60px;
}

.main-banner-description {
 line-height: 100px;
 text-align: center;
 letter-spacing: 30px;
}


.main-banner-description-two {
  letter-spacing: 60px;
}


.main-banner-text {
 line-height: 100px;
 text-align: end;
 letter-spacing: 60px;
}


.main-banner-text-one {
  letter-spacing: 30px;
}

.main-banner-text-two {
  letter-spacing: 0;
}




/*List-banner*/


.main-banner-menu {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-banner-menu-list {
  display: flex;
  padding-left: 25px;
  gap: 25px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  list-style: none;
  text-transform: uppercase;
  color:#FFFFFF;
  opacity: 0.6;
}


.main-banner-menu-link {
  text-decoration: none;
}

.main-banner-menu-btn {
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;

}



/*Info-cars*/

.cards {
  margin-bottom: 181px;
}

.cards-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 64px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  column-gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 24px;
  
}

.cards-item {
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.film {
  background-image: url('../images/card-lot-01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book {
  background-image: url('../images/card-lot-02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page {
  background-image: url('../images/card-lot-03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





.cards-text {
  position: relative;
  z-index: 3;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #FFFFFF;
}


.cards-description {
  position: relative;
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.9;
}

.cards-block-btn {
  margin-left: 64px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  background: none;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  cursor: pointer;
}


/* text-block */

.text-block {
  margin-left: 71px;
  margin-bottom: 108px;
  display: grid;
  grid-template-columns: 240px 693px;
  gap: 72px;
}

.text-block-image {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 240px;
 height: 240px;
 border-radius: 50%;
 background-color: #000000;
}


.text-block-image-img {
  width: 148px;
  height: 114px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-block-box-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.text-block-box-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  width: 693px;
}

.text-indentation {
  margin-bottom: 24px;
  width: 688px;
}


.text-block-box {
  margin-top: 100px;
}


/* footer */



.footer-container {
 display: grid;
 grid-template-columns: 240px 149px 240px;
 gap: 185px;
 font-size: 18px;
 font-weight: 400;
 line-height: 24.3px;
 margin: 0 50px;
}

.footer-container-menu {
  text-align: center;
}

.footer-container-menu-link {
  text-decoration: none;
}

.border-link {
  text-decoration: underline;
}


.footer-container-menu-list {
  list-style: none;
}

.footer-container-icon-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  list-style: none;
  gap: 48px;
}

