.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  padding: 96px 50px 88px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  line-height: 1.35;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  letter-spacing: 0.01em;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.address {
  width: 240px;
  font-style: normal;
  line-height: 1.35;
}



.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 137px;
  padding: 165px 50px 51px 50px;
  color: #fff;
  text-transform: uppercase;
  background: url(../images/cover.jpg) top / 125%;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  align-self: center;
  transform: translateX(-30px);
}

.aligned-text_right {
  align-self: end;
  line-height: 1em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  word-spacing: 18.5px;
  transform: translateX(28px);
}

.bet-button {
  border: 1px solid #fff;
  padding: 11px 33px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}



.lots {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 26px;
  padding: 180px 24px 0;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  transform: translateX(40px);
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 47px;
  color: #fff;
  line-height: 1.2;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) top / 162%;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) top / 162%;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) top / 162%;
}

.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 1.4em;
  text-underline-offset: 5px;
  transform: translateX(40px);
}



.about {
  display: grid;
  grid-template-columns: minmax(auto, 288px) 1fr;
  row-gap: 6px;
  column-gap: 71px;
  padding: 183px 24px 182px;
}

.about__logo {
  display: flex;
  justify-self: end;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  margin: auto;
}

.about__title {
  align-self: center;
  font-size: 40px;
  text-transform: uppercase;
  transform: translateY(4px);
}

.about__texts {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  row-gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2em;
}



.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 88px;
  font-size: 18px;
}

.footer__link {
  letter-spacing: 0.01em;
  text-underline-offset: 3px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  column-gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
